<div class="big_wrapper" id="ourapp">
  <div class="container" >
    <div class="row acticle">
      <!-- <div class="col-md-6 article-img col-md-push-6"> <img src="assets/bg-1.png" /> </div> -->
      <div class="col-md-6 point_copy ">
        <h3> What is Selfstarter? </h3>
        <p> Selfstarter is an open source starting point for building your own ad-hoc crowdfunding site. It was put together by <a href="https://lockitron.com/">Lockitron</a> after they were <a href="">turned down from Kickstarter</a>. </p>
        <p> </p>
      </div>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="container">
    <div class="row acticle-alt">
      <div class="col-md-6 article-img"> <img src="assets/bg-2.png" class="use-img"/> </div>
      <div class="col-md-6 point_copy">
        <h3> How do I use it? </h3>
        <p> Selftstarter is a starting point for you to build your own solution. It is set up to collect reservations using Amazon Payments, but you can choose you own provider too. </p>
        <p> </p>
      </div>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="container">
    <div class="row acticle">
      <div class="col-md-6 article-img col-md-push-6"> <img src="assets/bg-3.png" /> </div>
      <div class="col-md-6 point_copy col-md-pull-6">
        <h3> It's just a skeleton </h3>
        <p> We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code. </p>
        <p> </p>
      </div>
    </div>
  </div>
</div>


<div class="big_wrapper" id="community" >
  <div class="container">
    <h3>Strength in numbers</h3>
    <p id="section_4">With the Tile community, it's like having the rest of the world help you find what you're looking for.</p>
  </div>
</div>
 