<div class="gray_background" id="features">
  <div class="container" >
    <div class="row" id="other_points" style="margin:0;">
      <div class="row">
        <div class="section-box" id="section-1"> <img src="assets/feature-1.png" />
          <h4>iOS Compatible</h4>
          <p>Works with iPhone 4S, iPhone 5, iPad Mini, iPad 3<sup>rd</sup> and 4<sup>th</sup> gen, and iPod Touch 5<sup>th</sup> gen.</p>
        </div>
        <div class="section-box" id="section-2"> <img src="assets/feature-2.png" />
          <h4>You're getting warmer</h4>
          <p>You can see yourself getting closer and further away from the Tile when within a 50 - 150ft range.</p>
        </div>
        <div class="section-box" id="section-3"> <img src="assets/feature-3.png" />
          <h4>No batteries to replace?</h4>
          <p>Nope, you never need to replace the batteries or even charge your Tiles.</p>
        </div>
      </div>
      <div class="row">
        <div class="section-box" id="section-4"> <img src="assets/feature-4.png" />
          <h4>A whole year?</h4>
          <p>Tiles last a year. We'll remind you when it's time to order new Tiles and send you an envelope to recycle your old ones.</p>
        </div>
        <div class="section-box" id="section-5"> <img src="assets/feature-5.png" />
          <h4>Now hear this</h4>
          <p>Tiles come with a built-in speaker so you can easily hear it in close range.</p>
        </div>
        <div class="section-box" id="section-6"> <img src="assets/feature-6.png" />
          <h4>Right where you left it</h4>
          <p id="section_5">The Tile app saves the last GPS location it saw your Tile.</p>
        </div>
      </div>
    </div>
  </div>
</div>

