<!-- footer starts here -->
<div class="footer">
  <div class="container clearfix">
     <%= render 'preorder/copyright' %>
  </div>
</div>
<%= render 'preorder/google_analytics' %>
<!-- footer ends here --> 


